@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-one {
  background: red;
  width: 100vw;
  height: 100vh;
  background: url("http://farm1.staticflickr.com//447//19585243302_fae38fd86f_o.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.div-two {
  -webkit-clip-path: polygon(100vw 0, 0% 100%, 100vw 100vh);
  clip-path: polygon(100vw 0, 0% 100vh, 100vw 100vh);
  background: url("https://pic.pimg.tw/yangun410/1622384690-3139975000-g_b.jpg");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

div {
  position: absolute;
}

/* Decoration */

.container {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects {
  border-radius: 5px;
  height: 40%;
  width: 400px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(2rem);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

ul {
  width: 100%;
  list-style: none;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 2rem;
  transition: all 1s ease;
}

@media (max-width: 440px) {
  a {
    font-size: 1.5rem;
  }
  .projects {
    width: 80%;
    height: 40%;
  }
}
