@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavoon&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  font-family: "Aboreto", cursive;
}

h1 {
  font-size: 100px;
  color: aliceblue;
  backdrop-filter: brightness(0.5);
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1230px) {
  h1 {
    font-size: 4.5rem;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 900px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }
}

.btn {
  margin-top: 25vh;
  background-color: black;
  color: white;
  padding: 20px 40px;
  font-size: 25px;
  border: 4px solid;
  cursor: pointer;
  transition: 1s background-color ease-in-out;
  white-space: nowrap;
  font-family: "Aboreto", cursive;
}

.btn:hover {
  background-color: white;
  color: goldenrod;
}

.split {
  width: 50%;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.split.left {
  position: absolute;
  left: 0;
  background-color: pink;
  background-image: url("https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/iphone-13-pro-family-hero?wid=940&hei=1112&fmt=png-alpha&.v=1631220221000");
  background-size: cover;
  background-position: center center;
}

.split.right {
  position: absolute;
  right: 0;
  background-color: lightblue;
  background-image: url("https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/ML563ref_VW_PF+watch-40-alum-spacegray-nc-se_VW_PF_WF_SI?wid=2000&hei=2000&fmt=png-alpha&.v=1630365021000,1599457314000");
  background-size: cover;
  background-position: center center;
}

.active-left .left {
  width: 75%;
}

.active-left .right {
  width: 25%;
}

.active-right .left {
  width: 25%;
}

.active-right .right {
  width: 75%;
}

.left,
.right {
  transition: width 2s ease-in-out;
}
