@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 189, 196);
}

.container {
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

button {
  margin-top: 1rem;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
